<% include ./header.ejs %>
<br>
<br>
<br>      
 <div class="container">			
<div class="col-sm-6 col-sm-offset-3">
<center><h1>맛집등록</h1><div style=color:#ff0000;><%= title %></div></center>
    <br>
    
    
<form action="/process/addstore" method="post" >
    
<div class="form-group">
<label for="mzname">가게이름<span style=color:#ff0000;> *</span></label>
<input type="text" class="form-control" id="mzname" name="mzname" placeholder="가게 이름을 입력해주세요" >
</div>


<div class="form-group">
<label for="mztime">운영시간<span style=color:#ff0000;> *</span></label>
<input type="text" class="form-control" id="mztime" name="mztime" placeholder="운영 시간을 입력해주세요">
</div>


<div class="form-group">
<label for="storemenu">메뉴</label>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storemenu1" name="storemenu1" placeholder="메뉴 1">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storeprice1" name="storeprice1" placeholder="가격 1">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storemenu2" name="storemenu2" placeholder="메뉴 2">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storeprice2" name="storeprice2" placeholder="가격 2">
        </div>
        <hr>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storemenu3" name="storemenu3" placeholder="메뉴 3">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="storeprice3" name="storeprice3" placeholder="가격 3">
        </div>
    </div>
</div>

<div class="form-group">
<label for="mzaddr">주소<span style=color:#ff0000;> *</span></label>
    <input type="text" class="form-control" id="mzaddr" name="mzaddr" placeholder="주소를 입력해주세요"></div>
    
<div class="form-group">
<label for="mztel">전화번호<span style=color:#ff0000;> *</span></label>
<select name="telarea">
<option value="1"> 02 </option>
<option value="2"> 051 </option>
<option value="3"> 053 </option>
<option value="4"> 032 </option>
<option value="5"> 062 </option>
<option value="6"> 042 </option>
<option value="7"> 052 </option>
<option value="8"> 044 </option>
<option value="9"> 031 </option>
<option value="10"> 033 </option>
<option value="11"> 043 </option>
<option value="12"> 041 </option>
<option value="11"> 063 </option>
<option value="12"> 061 </option>
<option value="11"> 054 </option>
<option value="12"> 055 </option>
<option value="11"> 043 </option>
<option value="12"> 064 </option>    
</select>
<input type="text" class="form-control" id="mztel" name="mztel" placeholder="나머지 번호를 입력하세요">
</div>
    <div>
                            
    </div>
    <br>
    <div align="center">
<button type="submit" name="submit" class="btn btn-warning">
<span class="glyphicon glyphicon-check"></span>맛집등록</button>
</div> 
    
    </form>
    <p align="center"> FoodTrip &copy;</p>
   

    </div>
    </div>
</body>
    <script>
    $(document).ready(function () {
        $('#uploadForm').submit(function () {
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function (response) {
                    console.log(response);
                }
            });
            return false;
        });
    });
</script>
</html>