
<% include ./header.ejs %>
  <br><br>    
        <div class="container">
		    <div class="jumbotron text-center">
                <img src="../public/image/logo.jpg" width="200" height="200">
		        <h1> Food Trip</h1>
				<br>
                <h2>안녕하세요 Food Trip 입니다.</h2>
				
				<br>
		    </div>
		</div>
	</body>
</html>